@model List<OrganizadorReuniao.Models.Report>
@{
    ViewBag.Title = "Index";
    int jan = 0;
    int feb = 0;
    int mar = 0;
    int apr = 0;
    int may = 0;
    int jun = 0;
    int jul = 0;
    int aug = 0;
    int sep = 0;
    int oct = 0;
    int nov = 0;
    int dec = 0;

    bool isSacramental = false;

    int janM = 0;
    int febM = 0;
    int marM = 0;
    int aprM = 0;
    int mayM = 0;
    int junM = 0;
    int julM = 0;
    int augM = 0;
    int sepM = 0;
    int octM = 0;
    int novM = 0;
    int decM = 0;
}

<div class="page-header">
    <h2>Relatório</h2>
</div>

@section scripts {
    <script type="text/javascript">
        function updateList() {
            $("#submitForm").click();
        }
    </script>
}

<div class="row">
    @using (Html.BeginForm("Index", "Report", FormMethod.Post, new { role = "form" }))
    {    
        <div class="col-sm-4">
            <label for="year">Ano</label>
            <select id="year" name="year" class="form-control" onchange="updateList()">
                @for (int i = 2015; i <= DateTime.Now.Year; i++)
                {
                    <option value="@i" @((i == (int)ViewBag.year) ? "selected='selected'" : "")>@i</option>
                }
            </select>
        </div>
        <div class="col-sm-8">
            <label for="year">Lista</label>
            <select id="reportId" name="reportId" class="form-control" onchange="updateList()">
                @foreach (OrganizadorReuniao.Models.Frequency frequency in new OrganizadorReuniao.Models.Frequency().getTypes())
                {
                    if ((int)ViewBag.option == frequency.Id)
                    {
                    <option value="@frequency.Id" selected="selected">@frequency.Name</option>
                    }
                    else
                    {
                    <option value="@frequency.Id">@frequency.Name</option>
                    }
                }
            </select>
        </div>
        <input type="submit" style="display: none" id="submitForm" />
    }
</div>

<hr />

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Jan</th>
                <th>Fev</th>
                <th>Mar</th>
                <th>Abr</th>
                <th>Mai</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Ago</th>
                <th>Set</th>
                <th>Out</th>
                <th>Nov</th>
                <th>Dez</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model)
            {
                if (item.memberType == OrganizadorReuniao.Models.Member.memberType.sacramental)
                {
                    isSacramental = true;
                }

                if (item.jan > 0 || item.feb > 0 || item.mar > 0 || item.apr > 0 || item.may > 0 ||
                    item.jun > 0 || item.jul > 0 || item.aug > 0 || item.sep > 0 || item.oct > 0 ||
                    item.nov > 0 || item.dec > 0)
                {
                <tr class="@((!item.isUnitMember) ? "warning" : "")">
                    <td>@item.lastName, @item.firstName</td>
                    <td>@item.age</td>
                    <td>@((item.jan > 0) ? item.jan.ToString() : "")</td>
                    <td>@((item.feb > 0) ? item.feb.ToString() : "")</td>
                    <td>@((item.mar > 0) ? item.mar.ToString() : "")</td>
                    <td>@((item.apr > 0) ? item.apr.ToString() : "")</td>
                    <td>@((item.may > 0) ? item.may.ToString() : "")</td>
                    <td>@((item.jun > 0) ? item.jun.ToString() : "")</td>
                    <td>@((item.jul > 0) ? item.jul.ToString() : "")</td>
                    <td>@((item.aug > 0) ? item.aug.ToString() : "")</td>
                    <td>@((item.sep > 0) ? item.sep.ToString() : "")</td>
                    <td>@((item.oct > 0) ? item.oct.ToString() : "")</td>
                    <td>@((item.nov > 0) ? item.nov.ToString() : "")</td>
                    <td>@((item.dec > 0) ? item.dec.ToString() : "")</td>
                </tr>
                }
                if (item.isUnitMember || item.memberType == OrganizadorReuniao.Models.Member.memberType.sacramental)
                {
                    if (item.jan > 0)
                    {
                        jan += 1;
                        janM += item.jan;
                    }
                    if (item.feb > 0)
                    {
                        feb += 1;
                        febM += item.feb;
                    }
                    if (item.mar > 0)
                    {
                        mar += 1;
                        marM += item.mar;
                    }
                    if (item.apr > 0)
                    {
                        apr += 1;
                        aprM += item.apr;
                    }
                    if (item.may > 0)
                    {
                        may += 1;
                        mayM += item.may;
                    }
                    if (item.jun > 0)
                    {
                        jun += 1;
                        junM += item.jun;
                    }
                    if (item.jul > 0)
                    {
                        jul += 1;
                        julM += item.jul;
                    }
                    if (item.aug > 0)
                    {
                        aug += 1;
                        augM += item.aug;
                    }
                    if (item.sep > 0)
                    {
                        sep += 1;
                        sepM += item.sep;
                    }
                    if (item.oct > 0)
                    {
                        oct += 1;
                        octM += item.oct;
                    }
                    if (item.nov > 0)
                    {
                        nov += 1;
                        novM += item.nov;
                    }
                    if (item.dec > 0)
                    {
                        dec += 1;
                        decM += item.dec;
                    }
                }
            }
        </tbody>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th>Jan</th>
                <th>Fev</th>
                <th>Mar</th>
                <th>Abr</th>
                <th>Mai</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Ago</th>
                <th>Set</th>
                <th>Out</th>
                <th>Nov</th>
                <th>Dez</th>
            </tr>
        </tbody>
        <tbody>
            <tr class="info">
                <td style="font-weight: bold;">Frequência</td>
                <td></td>
                <td>@((jan > 0) ? jan.ToString() : "")</td>
                <td>@((feb > 0) ? feb.ToString() : "")</td>
                <td>@((mar > 0) ? mar.ToString() : "")</td>
                <td>@((apr > 0) ? apr.ToString() : "")</td>
                <td>@((may > 0) ? may.ToString() : "")</td>
                <td>@((jun > 0) ? jun.ToString() : "")</td>
                <td>@((jul > 0) ? jul.ToString() : "")</td>
                <td>@((aug > 0) ? aug.ToString() : "")</td>
                <td>@((sep > 0) ? sep.ToString() : "")</td>
                <td>@((oct > 0) ? oct.ToString() : "")</td>
                <td>@((nov > 0) ? nov.ToString() : "")</td>
                <td>@((dec > 0) ? dec.ToString() : "")</td>
            </tr>
        </tbody>
        @if (isSacramental)
        {
            <tbody>
                <tr class="success">
                    <td style="font-weight: bold;">Média</td>
                    <td></td>
                    <td>@((janM > 0) ? (Math.Round((decimal)janM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(1, 2015), 0)).ToString() : "")</td>
                    <td>@((febM > 0) ? (Math.Round((decimal)febM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(2, 2015), 0)).ToString() : "")</td>
                    <td>@((marM > 0) ? (Math.Round((decimal)marM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(3, 2015), 0)).ToString() : "")</td>
                    <td>@((aprM > 0) ? (Math.Round((decimal)aprM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(4, 2015), 0)).ToString() : "")</td>
                    <td>@((mayM > 0) ? (Math.Round((decimal)mayM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(5, 2015), 0)).ToString() : "")</td>
                    <td>@((junM > 0) ? (Math.Round((decimal)junM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(6, 2015), 0)).ToString() : "")</td>
                    <td>@((julM > 0) ? (Math.Round((decimal)julM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(7, 2015), 0)).ToString() : "")</td>
                    <td>@((augM > 0) ? (Math.Round((decimal)augM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(8, 2015), 0)).ToString() : "")</td>
                    <td>@((sepM > 0) ? (Math.Round((decimal)sepM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(9, 2015), 0)).ToString() : "")</td>
                    <td>@((octM > 0) ? (Math.Round((decimal)octM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(10, 2015), 0)).ToString() : "")</td>
                    <td>@((novM > 0) ? (Math.Round((decimal)novM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(11, 2015), 0)).ToString() : "")</td>
                    <td>@((decM > 0) ? (Math.Round((decimal)decM / (decimal)new OrganizadorReuniao.Helper.Common().sundaysPerMonth(12, 2015), 0)).ToString() : "")</td>
                </tr>
            </tbody>
        }
    </table>
</div>


