@model OrganizadorReuniao.Models.ActivityViewModel
@{
    ViewBag.Title = "Nova Atividade";
}

<div class="page-header">
    <h2>Nova Atividade</h2>
</div>

@using (Html.BeginForm("New", "Activities", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.EditorFor(m => m.Date)
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    
    <div class="form-group">
        <label for="hour">Hora</label>
        <select name="hour">
            <option value="0">00</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
        <br />
        <label for="minute">Minuto</label>
        <select name="minute">
            <option value="0">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Place)
        @Html.EditorFor(m => m.Place)
        @Html.ValidationMessageFor(m => m.Place)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Obs)
        @Html.EditorFor(m => m.Obs)
        @Html.ValidationMessageFor(m => m.Obs)
    </div>
    
    @Html.ValidationSummary(OrganizadorReuniao.Languages.pt_br.PleaseCheckTheFollowingErrors, new { @class = "alert alert-danger" })
    
    <hr />
    
    <button type="submit" class="btn btn-default">@OrganizadorReuniao.Languages.pt_br.SaveButton</button>
}