@{
    ViewBag.Title = OrganizadorReuniao.Languages.pt_br.CallingPageTitle;
}

<div class="page-header">
    <h2>@OrganizadorReuniao.Languages.pt_br.CallingPageTitle</h2>
</div>

@using (Html.BeginForm("Create", "Calling", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        <label for="calling">@OrganizadorReuniao.Languages.pt_br.SelectTheDesiredCalling</label>
        <select name="calling">
            @foreach (OrganizadorReuniao.Models.Calling calling in ViewBag.callings)
            {
                <option value="@calling.Id">@calling.Name</option>
            }
        </select>
    </div>
    
    <div class="form-group">
        <label for="member">@OrganizadorReuniao.Languages.pt_br.FindTheDesiredMember</label>
        <input type="text" name="member" id="member" />
        <input type="hidden" name="id" id="id" value="0" />
        <div id="result"></div>
    </div>
    
    <div class="form-group">
        <label for="date">Data</label>
        <input type="date" name="date" id="date" class="form-control" />
    </div>
    
    @Html.ValidationSummary(OrganizadorReuniao.Languages.pt_br.PleaseCheckTheFollowingErrors, new { @class = "alert alert-danger" })
    
    <hr />
    
    <button type="submit" class="btn btn-primary">@OrganizadorReuniao.Languages.pt_br.SaveButton</button>
}
