@model OrganizadorReuniao.Models.UnitViewModel
@{
    ViewBag.Title = OrganizadorReuniao.Languages.pt_br.CreateUnitPageTitle;
}

<div class="page-header">
    <h2>Criar Unidade</h2>
</div>

@using (Html.BeginForm("Create", "Unit", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name) 
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.EditorFor(m => m.Phone)
        @Html.ValidationMessageFor(m => m.Phone) 
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email) 
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Number)
        @Html.PasswordFor(m => m.Number)
        @Html.ValidationMessageFor(m => m.Number) 
    </div>
    
    @Html.ValidationSummary(OrganizadorReuniao.Languages.pt_br.PleaseCheckTheFollowingErrors, new { @class = "alert alert-danger" })
    
    <hr />
    
    <button type="submit" class="btn btn-default">@OrganizadorReuniao.Languages.pt_br.CreateButton</button>
}
