@model OrganizadorReuniao.Models.UserViewModel
@{
    ViewBag.Title = OrganizadorReuniao.Languages.pt_br.CreateAccountTitle;
}

<div class="page-header">
    <h2>Criar Conta</h2>
</div>

@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { placeholder = OrganizadorReuniao.Languages.pt_br.TypeYourPassword })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Confirm)
        @Html.PasswordFor(m => m.Confirm, new { placeholder = OrganizadorReuniao.Languages.pt_br.ConfirmYourPassword })
        @Html.ValidationMessageFor(m => m.Confirm)
    </div>
    
    @Html.ValidationSummary(OrganizadorReuniao.Languages.pt_br.PleaseCheckTheFollowingErrors, new { @class = "alert alert-danger" })
    
    <hr />
    
    <button type="submit" class="btn btn-default">@OrganizadorReuniao.Languages.pt_br.CreateButton</button>
}
