@model OrganizadorReuniao.Models.UserViewModel
@{
    ViewBag.Title = OrganizadorReuniao.Languages.pt_br.LoginPageTitle;
}

<div class="page-header">
    <h2>Acesso</h2>
</div>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
{
    if (ViewBag.url != null)
    {
        <input type="hidden" value="@ViewBag.url" name="url" />
    }
    else
    {
        <input type="hidden" value="" name="url" />
    }
    
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email) 
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { placeholder = OrganizadorReuniao.Languages.pt_br.TypeYourPassword })
        @Html.ValidationMessageFor(m => m.Password) 
    </div>
    
    @Html.ValidationSummary(OrganizadorReuniao.Languages.pt_br.PleaseCheckTheFollowingErrors, new { @class = "alert alert-danger" })
    
    <hr />
    
    <button type="submit" class="btn btn-primary">@OrganizadorReuniao.Languages.pt_br.SignInButton</button>
    
    <br />
    <br />
    @Html.ActionLink("Esqueci minha senha", "ForgotPassword")
}