@{
    bool authenticated = (Session["user"] != null);
        // TODO: change strings tp resource names
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@OrganizadorReuniao.Languages.pt_br.AppName (@(ViewBag.Title))</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- favicon -->
    @Html.Partial("_Icon")
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="pull-left" style="margin-right: 10px;">
                    <img src="~/Images/moroni.png" />
                </a>
                <a class="navbar-brand" href="/Home/Index">@OrganizadorReuniao.Languages.pt_br.AppName</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="/Home/Index">Home</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#contact">Contato</a></li>*@
                    @if (authenticated)
                    {
                        <li><a href="/Memo/Index">Agenda</a></li>
                        <li><a href="/Activities/Index">Atividades</a></li>
                        <li><a href="/Calling/Index">Chamados</a></li>
                        <li><a href="/Home/Index">Frequência</a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatório <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Speaker/Index">Discursantes</a></li>
                                <li><a href="/Report">Trimestral</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Membros/Acesso <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/AccessArea/Index">Controle Acesso</a></li>
                                <li><a href="/Member/Index">Novo Membro</a></li>
                                @*<li><a href="#" onclick="alert('Funcionalidade em Desenvolvimento')">Subir Lista Membro</a></li>*@
                            </ul>
                        </li>
                            @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuracoes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Atualizar Dados</a></li>
                                <li><a href="#">Email</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Funcionalidades</li>
                                <li><a href="/Calling/Create">Chamados</a></li>
                                <li><a href="/Memo">Criar Ata</a></li>
                            </ul>
                        </li>*@
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!authenticated)
                    {
                        <li><a href="/Account/Create">Criar conta</a></li>
                        <li><a href="/Account/Login">Entrar</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Update">Atualizar conta</a></li>
                        <li><a href="/Account/Logout">Sair</a></li>    
                    }
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <br />
    <br />

    <footer class="footer">
        <div class="container">
            @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCcs26sVdNQmjol1/4gPyb5mrX+SJ3QLl9+RjlBKO3mqbtaqfthmiw/HMgQYHHvrOZ/tNoB8+nQHp28vSPMYvZ00jOJXoNwGLQ5hnzzR+Mfp4+NQUABrwKHGby3oyZMGM2CfOTSW4awHHK3EsOy6cgzadLBgfysJGc8IUfF0gVJTDELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIts4W9ut/n8iAgYjZI71RpOEpWFCkPs0kRjB7TK52aBPfNvmo+lsZoEvOFoRuU4AWRPqewAoJD1MF2VSOR4MG3KX0Fi/cmQ5wicWevj9tdsTNl7kX70hAU6ALBa8NqmWwY0QmHTgG8RMI70WGu+VNAUJ91PuNs/Qv/taDN028wU0Nimy5QaNt1YoTHFs4jsa46EfxoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwODE3MTQ1MjQ2WjAjBgkqhkiG9w0BCQQxFgQUdmxlbGuZo7SuDtAPeEi4rwlubH0wDQYJKoZIhvcNAQEBBQAEgYC5EZGpZSsEIXSr1FI9RAU4D60JL2jq3TXvVBCjBPOChk6t1jVkZkI4MIJfOeDDgIuflokghZZar2OCdSxqI8X1D7EdylTJKvdfjBiHWr1/CgeQeI4ibC/eoXhcNOgaKs1F/dYKDRZZllDOSwGNwOLR0gS/rf47GzN3ppzQLfFqlg==-----END PKCS7-----">
                <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>*@
        </div>
    </footer>


    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/app.js" type="text/javascript"></script>

    <script type="text/javascript">
        // When ready...
        window.addEventListener("load", function () {
            // Set a timeout...
            setTimeout(function () {
                // Hide the address bar!
                window.scrollTo(0, 1);
            }, 0);
        });

        $(document).ready(function () {
            if (("standalone" in window.navigator) && window.navigator.standalone) {
                var noddy, remotes = false;
                document.addEventListener('click', function (event) {
                    noddy = event.target;
                    while (noddy.nodeName !== "A" && noddy.nodeName !== "HTML") {
                        noddy = noddy.parentNode;
                    }
                    if ('href' in noddy && noddy.href.indexOf('http') !== -1 && (noddy.href.indexOf(document.location.host) !== -1 || remotes)) {
                        event.preventDefault();
                        document.location.href = noddy.href;
                    }
                }, false);
            }
        });
    </script>
</body>
</html>
