@{
    bool authenticated = (Session["user"] != null);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="pull-left" style="margin-right: 10px;">
                    <img src="~/Images/moroni.png" />
                </a>
                <a class="navbar-brand" href="#">Agenda SUD</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#contact">Contato</a></li>
                    @if (authenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuracoes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Atualizar Dados</a></li>
                                <li><a href="#">Email</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Funcionalidades</li>
                                <li><a href="/Calling/Create">Chamados</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!authenticated)
                    {
                        <li><a href="/Account/Create">Criar conta</a></li>
                        <li><a href="/Account/Login">Entrar</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Update">Atualizar conta</a></li>
                        <li><a href="/Account/Logout">Sair</a></li>    
                    }
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/app.js" type="text/javascript"></script>
</body>
</html>
